# Praktikum 1

## Praktikum 1

In [1]:
#list
fruits = [] #empty list
fruits = ["apple","banana"] #list dgn 2 elemen
another_list = ["this is string", 10] #list dgn type berbeda

print(fruits)
print(another_list)

combined = [fruits, another_list]
print(combined)

['apple', 'banana']
['this is string', 10]
[['apple', 'banana'], ['this is string', 10]]

In [7]:
#add element to a list
fruits = ["apple","banana"]
fruits.append("orange") #menambahkan variabel dalam list
print(fruits)

fruits=fruits+["mango"]
print(fruits)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'mango']

In [9]:
#tuple
coordinate = (0,5)
colors = ("red", "green", "blue")
print(coordinate)
print(colors)

(0, 5)
('red', 'green', 'blue')

In [8]:
fruits = ["apple", "banana", "orange"]
fruits = fruits+["mango"]
print(fruits)

['apple', 'banana', 'orange', 'mango']

In [12]:
import pandas as pd
import numpy as np

In [15]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0','K1','K2','K3'],
                     'C': ['C0','C1','C2','C3'],
                     'D': ['D0','D1','D2','D3']})
result = pd.merge(left, right, on='key')
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [17]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1','K0','K1'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key1': ['K0','K1','K1','K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                     'C': ['C0','C1','C2','C3'],
                     'D': ['D0','D1','D2','D3']})
result2 = pd.merge(left,right, on=['key1','key2'])
result2

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [3]:
import pandas as pd
import numpy as np

In [13]:
data1=pd.read_csv(‪"praktikum1.csv")
data2=pd.read_csv("praktikum2.csv")

data_complete = pd.merge(data1,data2, on='Nama', sep=';')
data_complete.head()

SyntaxError: invalid character in identifier (<ipython-input-13-3a0420825d33>, line 1)

In [18]:
data1 = pd.read_csv("E:\DATMIN\praktikum1.csv")
data2 = pd.read_csv("E:\DATMIN\praktikum2.csv")

data_complete=pd.merge(data1, data2, on='Nama')
data_complete.head()

KeyError: 'Nama'