In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv("weatherAUS.csv")
data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000,142193.000000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339,2.360682
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000,0.000000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000,371.000000

In [3]:
np.sum(data.isnull())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RISK_MM           3267
RainTomorrow      3267
dtype: int64

In [8]:
from scipy.stats import mode
data['MinTemp']=data['MinTemp'].fillna(data['MinTemp'].mean())
data['MaxTemp']=data['MaxTemp'].fillna(data['MaxTemp'].mean())
data['Rainfall']=data['Rainfall'].fillna(data['Rainfall'].mean())
data['Evaporation']=data['Evaporation'].fillna(data['Evaporation'].mean())
data['Sunshine']=data['Sunshine'].fillna(data['Sunshine'].mean())
data['WindGustDir']=data['WindGustDir'].fillna(data['WindGustDir']).dropna().mode()[0]
data['WindGustSpeed']=data['WindGustSpeed'].fillna(data['WindGustSpeed'].mean())
data['WindDir9am']=data['WindDir9am'].fillna(data['WindDir9am']).dropna().mode()[0]
data['WindDir3pm']=data['WindDir3pm'].fillna(data['WindDir3pm']).dropna().mode()[0]
data['WindSpeed9am']=data['WindSpeed9am'].fillna(data['WindSpeed9am'].mean())
data['WindSpeed3pm']=data['WindSpeed3pm'].fillna(data['WindSpeed3pm'].mean())
data['Humidity9am']=data['Humidity9am'].fillna(data['Humidity9am'].mean())
data['Humidity3pm']=data['Humidity3pm'].fillna(data['Humidity3pm'].mean())
data['Pressure9am']=data['Pressure9am'].fillna(data['Pressure9am'].mean())
data['Pressure3pm']=data['Pressure3pm'].fillna(data['Pressure3pm'].mean())
data['Cloud9am']=data['Cloud9am'].fillna(data['Cloud9am'].mean())
data['Cloud3pm']=data['Cloud3pm'].fillna(data['Cloud3pm'].mean())
data['Temp9am']=data['Temp9am'].fillna(data['Temp9am'].mean())
data['Temp3pm']=data['Temp3pm'].fillna(data['Temp3pm'].mean())
data['RainToday']=data['RainToday'].fillna(data['RainToday']).dropna().mode()[0]
data['RISK_MM']=data['RISK_MM'].fillna(data['RISK_MM'].mean())
data['RainTomorrow']=data['RainTomorrow'].fillna(data['RainTomorrow']).dropna().mode()[0]
np.sum(data.isnull())

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [9]:
from scipy import stats
z = np.abs(stats.zscore(data._get_numeric_data()))
print(z)
data = data[(z<3).all(axis=1)]
print(data.shape)

[[1.89446615e-01 4.53363105e-02 2.10071794e-01 ... 1.40531282e-02
  1.70232282e-02 2.81630573e-01]
 [7.53100728e-01 2.65043084e-01 2.81649838e-01 ... 3.24642790e-02
  3.81984952e-01 2.81630573e-01]
 [1.10901003e-01 3.49692009e-01 2.81649838e-01 ... 6.21684769e-01
  2.21401794e-01 2.81630573e-01]
 ...
 [1.06728318e+00 5.18989861e-01 2.81649838e-01 ... 6.96308433e-01
  6.44757393e-01 2.81630573e-01]
 [6.90264238e-01 5.33098015e-01 2.81649838e-01 ... 2.93157571e-01
  6.30158924e-01 2.81630573e-01]
 [4.25083451e-01 2.10513377e-14 2.81649838e-01 ... 3.08663373e-01
  1.14362992e-01 4.27019439e-14]]
(134753, 24)

In [11]:
x=data.iloc[0:134754,1:24]
x.tail()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
145455,Uluru,2.8,23.400000,0.0,5.468232,7.611178,W,31.00000,N,SE,...,24.0,1024.6,1020.3,4.447461,4.50993,10.1,22.4,No,0.000000,No
145456,Uluru,3.6,25.300000,0.0,5.468232,7.611178,W,22.00000,N,SE,...,21.0,1023.5,1019.1,4.447461,4.50993,10.9,24.5,No,0.000000,No
145457,Uluru,5.4,26.900000,0.0,5.468232,7.611178,W,37.00000,N,SE,...,24.0,1021.0,1016.8,4.447461,4.50993,12.5,26.1,No,0.000000,No
145458,Uluru,7.8,27.000000,0.0,5.468232,7.611178,W,28.00000,N,SE,...,24.0,1019.4,1016.5,3.000000,2.00000,15.1,26.0,No,0.000000,No
145459,Uluru,14.9,23.221348,0.0,5.468232,7.611178,W,40.03523,N,SE,...,36.0,1020.2,1017.9,8.000000,8.00000,15.0,20.9,No,2.360682,No

In [26]:
data = data.drop(columns=['WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow'],axis=1)
data.shape

KeyError: "['WindGustDir' 'WindDir9am' 'WindDir3pm' 'RainToday' 'RainTomorrow'] not found in axis"

In [22]:
x=data.iloc[0:134754,1:19]
x.tail()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
145455,Uluru,2.8,23.400000,0.0,5.468232,7.611178,31.00000,13.0,11.0,51.0,24.0,1024.6,1020.3,4.447461,4.50993,10.1,22.4,0.000000
145456,Uluru,3.6,25.300000,0.0,5.468232,7.611178,22.00000,13.0,9.0,56.0,21.0,1023.5,1019.1,4.447461,4.50993,10.9,24.5,0.000000
145457,Uluru,5.4,26.900000,0.0,5.468232,7.611178,37.00000,9.0,9.0,53.0,24.0,1021.0,1016.8,4.447461,4.50993,12.5,26.1,0.000000
145458,Uluru,7.8,27.000000,0.0,5.468232,7.611178,28.00000,13.0,7.0,51.0,24.0,1019.4,1016.5,3.000000,2.00000,15.1,26.0,0.000000
145459,Uluru,14.9,23.221348,0.0,5.468232,7.611178,40.03523,17.0,17.0,62.0,36.0,1020.2,1017.9,8.000000,8.00000,15.0,20.9,2.360682

In [23]:
from sklearn.preprocessing import normalize
xnorm=normalize(x,norm='l2')
xnorm=pd.DataFrame(xnorm)
xnorm.tail()

ValueError: could not convert string to float: 'Albury'